body{
    margin: 30px;
    padding: 0px;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#space{
    text-align: center;
    width: 50px;
    font-size: 30px;
    font-weight: bold;
}

.names{
    font-size: 30px;
    
}

